#input-area {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 100;
}

.chat-input-container {
  margin: 0;
  max-width: 50%;
}
#chat-box-container-small {
  margin-top: 20px;
  padding-right: 12px;
}
